extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Nuevo Usuario

  br
  br

  form(action='/usuarios/create' method='post')
    label(for='userName') Nombre de Usuario:
    input#userName(type='text' name='userName')
    br
    label(for='nombre') Nombre:
    input#nombre(type='text' name='nombre')
    br
    br
    input.btn(type='submit' value='OK')