extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Modificar Usuario

  br
  br

  form(action=`/usuarios/${usuario.userName}/edit` method='post')
    label(for='userName') Nombre de Usuario:
    input#userName(type='text' name='userName' value=usuario.userName)
    br
    label(for='nombre') Nombre:
    input#nombre(type='text' name='nombre'  value=usuario.nombre)
    br
    br
    input.btn(type='submit' value='OK')