extends ../layout

block content
  a(href='/usuarios/create') Nuevo Usuario

  table.table
    thead
      tr
        th(scope='col') Usuario
        th(scope='col') Nombre
        th(scope='col') 
        th(scope='col') 
        th(scope='col') 
    tbody
      each ent in usuarios
        tr
          th(scope='row')
            = ent.userName
            td= ent.nombre
            td 
              a(href=`usuarios/${ent.userName}/view`) Ver
            td 
              a(href=`usuarios/${ent.userName}/edit`) Editar
            td
              form.inline(method='post' action=`usuarios/${ent.userName}/delete`)
                input(type='hidden' name='userName' value= ent.userName)
                button.link-button(type='submit' name='submit_param' value='submit_vale')
                  = 'Eliminar'
