extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Nuevo Usuario

  br
  br

  form(action=`/usuarios/${usuario.id}/edit` method='post')
    .form-group
      label(for='nombre') Nombre:
      input#nombre.form-control(type='text' name='nombre' value= usuario.nombre class=errors.nombre ? "is-invalid":'')
      if errors.nombre
        smal#nombreHelp.text-danger
          =errors.nombre.message

    br
    br
    input.btn(type='submit' value='OK')