extends ../layout

block content

  a.btn.btn-primary(href='/usuarios/create') Nuevo Usuario

  table.table
    thead
      tr
        th(scope='col') Usuario
        th(scope='col') Nombre
        th(scope='col') Validado
        th(scope='col') 
        th(scope='col') 
        th(scope='col') 
    tbody
      each ent in usuarios
        tr
          th(scope='row')
            = ent.userName
            td= ent.nombre
            td= ent.verificado
            td 
              a.btn.btn-prymary(href=`usuarios/${ent.userName}/view`) Ver
            td 
              a.btn.btn-danger(href=`usuarios/${ent.id}/edit`) Editar
            td
              form.inline(method='post' action=`usuarios/${ent.id}/delete`)
                input(type='hidden' name='userName' value= ent.id)
                button.link-button(type='submit' name='submit_param' value='submit_vale')
                  = 'Eliminar'
