extends ../layout

block content
  a(href='/usuarios') Volver

  br
  br
  br

  h1 Ver Usuario

  br
  br

  form(action='/usuarios/create' method='post')
    .form-group
      label(for='userName') Nombre de Usuario:
      input#userName.form-control(type='text' name='userName' value= usuario.userName readonly="readonly" )

    .form-group
      label(for='nombre') Nombre:
      input#nombre.form-control(type='text' name='nombre' value= usuario.nombre readonly="readonly")

    .form-group
      label(for='email') E-Mail:
      input#email.form-control(type='text' name='email' value= usuario.email readonly="readonly" )
